.background Text{
	-fx-font-size: 3em;
}
.accordion{
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}
.titled-pane .title{
	-fx-font-size: 1.5em;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}