.username{
	-fx-font-weight: bold;
	-fx-font-size: 2em;
}

.date_lbl{
	-fx-font-weight: bold;
	-fx-font-size: 2em;
}

.summary_tittle{
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.summary_box{
	-fx-border-radius: 15;
	-fx-border-width: 10;
	-fx-background-radius: 15;
	-fx-padding: 10;
	-fx-spacing: 10;
}

.summary_box_card{
	-fx-border-width: 15;
	-fx-background-radius: 15;
	-fx-border-radius: 10;
	-fx-padding:5;
	-fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.summary_no{
	-fx-font-size: 4em;
	-fx-font-weight: bold;
}

.summary_text{
	-fx-font-size: 1.5em;
	-fx-font-weight: bold;
}

.summary_text:hover{
	-fx-cursor: hand;
}

.notification_box{
	-fx-border-radius: 15;
	-fx-border-width: 10;
	-fx-background-radius: 15;
	-fx-padding: 10;
	-fx-spacing: 10;	
}


.read_lbl:hover{
	-fx-cursor: hand;
}

.notification_card{
	-fx-border-width: 15;
	-fx-background-radius: 15;
	-fx-border-radius: 10;
	-fx-padding:5;
	-fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 4);	
}

.registration_box{
	-fx-border-radius: 15;
	-fx-border-width: 10;
	-fx-font-size: 1.5em;
	-fx-background-radius: 15;
	-fx-padding: 10;
	-fx-spacing: 10;	
}
