.container_left{
	-fx-background-color: linear-gradient(to bottom right, #74ebd5, #ACB6E5);
}
.container_left FontAwesomeIconView{
	-fx-fill: "white";
	-fx-size: 5em;
	-fx-alignment: center;
}
.container_right{
	-fx-background-color: "white";
	-fx-font-family: "Arial",
}
#login:hover{
	-fx-background-color: #0ba6ff;
	-fx-cursor: hand;
}