.container Text{
	-fx-font-size: 2.5em;
}
.container_bar{
	-fx-font-size: 1em;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}
.container_bar TextField:hover{
	-fx-cursor: text;
}
.container_bar ChoiceBox:hover{
	-fx-cursor: hand;
}
.container_bar Label:hover{
	-fx-cursor: hand;
}
.table-view{
	-fx-padding:10;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}
.choice-box{
	-fx-background-color: #ffffff;
	-fx-text-fill: #010101;
}
